# Ignore virtual environment
venv/
.venv/


# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local development settings
.env

# Ignore editor and IDE files
.idea/
.vscode/

# Ignore logs
logs/

# Ignore test results
__pytests__/
